/* Some Sass variables */
// Layout
$list-width: 270px;
$gap: 10px;
$scrollbar-thickness: 0px;
$list-header-height: 36px;
$list-footer-height: 36px;
// Misc
$list-border-radius: 5px;
$card-border-radius: 3px;
// Colors
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #e2e4e6;

body {
  line-height: 1.3em;

}

.ui {
  height: 85vh;
  display: grid;
}


.lists {
  display: flex;
  overflow-x: auto;

  > * {
    flex: 0 0 auto; // 'rigid' lists
    margin-left: $gap;
  }

  &::after {
    content: '';
    flex: 0 0 $gap;
  }
}

.fase-lista-de-items {
  width: $list-width;
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }

  header {
    line-height: $list-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
  }

  footer {
    line-height: $list-footer-height;
    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
    color: #888;


  }

  .agregar-item-boton {
    color: #0000FF;
  }

  .modificar-item-boton {
    color: #0000FF;
  }

  .estado-item {
    color: gray;
    font-size: 13px;
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;

    max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
    overflow-y: auto;


    li {
      background-color: #fff;
      padding: 6px;

      &:not(:last-child) {
        margin-bottom: $gap;
      }

      color: #1c294e;
      font-size: 14px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      .badge {
        font-size: 11px;
      }


      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }

    li:hover {
      background-color: #eeeeee;

      .badge {
        opacity: 0.9;
      }
    }
  }


  .modal {
    overflow: auto !important;
  }
}

.modal {
  overflow: auto !important;
}


.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 150px;
  border: 4px dashed #4aa1f3;
}

.mensaje-drop {
  text-align: center;
  color: #4aa1f3;
  font-family: Arial;
  font-size: 20px;
}