.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: black;
  fill: black;
  opacity: 0.9;
  stroke-width: 1.5px;
}

.cluster rect {
  fill: #e2e4e6;
  stroke: #999;
  stroke-width: 1.5px;
}

.cluster .label {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border: black;
  background-color: white;
}

/* Some Sass variables */
// Layout
$gap: 10px;
$card-border-radius: 5px;


.item-trazable {
  background-color: #fff;

  width: 250px;
  height: 56px;

  color: #1c294e;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  border-radius: $card-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .badge {
    font-size: 11px;
  }
}

.item-seleccionado {
  border-style: dashed;
  border-color: crimson;
}
