/* Some Sass variables */
body {
  line-height: 1.3em;
}

.ui {
  height: 75vh;
  display: grid;
}

.lists {
  display: flex;
  overflow-x: auto;
}
.lists > * {
  flex: 0 0 auto;
  margin-left: 10px;
}
.lists::after {
  content: "";
  flex: 0 0 10px;
}

.fase-lista-de-items {
  width: 270px;
  height: calc(100% - 10px - 0px);
}
.fase-lista-de-items > * {
  background-color: #e2e4e6;
  color: #333;
  padding: 0 10px;
}
.fase-lista-de-items header {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.fase-lista-de-items footer {
  line-height: 36px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #888;
}
.fase-lista-de-items .agregar-item-boton {
  color: #0000FF;
}
.fase-lista-de-items .modificar-item-boton {
  color: #0000FF;
}
.fase-lista-de-items ul {
  list-style: none;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
  overflow-y: auto;
}
.fase-lista-de-items ul li {
  background-color: #fff;
  padding: 6px;
  color: #1c294e;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.fase-lista-de-items ul li:not(:last-child) {
  margin-bottom: 10px;
}
.fase-lista-de-items ul li .badge {
  font-size: 11px;
}
.fase-lista-de-items ul li img {
  display: block;
  width: calc(100% + 2 * 10px);
  margin: -10px 0 10px -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.fase-lista-de-items ul li:hover {
  background-color: #eeeeee;
}
.fase-lista-de-items ul li:hover .badge {
  opacity: 0.9;
}
.fase-lista-de-items .modal {
  overflow: auto !important;
}

.modal {
  overflow: auto !important;
}

/*# sourceMappingURL=tablaTrabajo.css.map */
