<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informe</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            text-align: center;
            padding-top: 2px;
        }

        .fecha-creacion {
            float: right;
        }
    </style>
</head>
<body>
<h1 style="float: left">Informe de Línea Base</h1>

<ul>
    <li><b>Proyecto: </b>{{ linea_base.fase.proyecto.nombre }}</li>
    <li><b>Nombre:</b> {{ linea_base.nombre }}</li>
    <li><b>Descripción:</b> {{ linea_base.descripcion }}</li>
    <li><b>Fase: </b>{{ linea_base.fase.nombre }}</li>
    <li><b>Estado: </b>{{ linea_base.get_estado_display }}</li>
    <li><b>Numero de línea: </b>{{ linea_base.numero }}</li>
    <li><b>Creador: </b>{{ linea_base.creador.first_name }} {{ linea_base.creador.last_name }}
        - {{ linea_base.creador.email }}</li>
</ul>
<br/>


{% if linea_base.items.count > 0 %}
    <p><b>Items: </b></p>
    <table style="width:100%">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Costo</th>
        </tr>
        {% for item in linea_base.items.all %}
            <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.costo }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<hr/>
<p class="fecha-creacion">Fecha de generación: {{ fecha }} {{ hora }}</p>
</body>
</html>