<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informe</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            text-align: center;
            padding-top: 2px;
        }

        .fecha-creacion {
            float: right;
        }
    </style>
</head>
<body>
<h1 style="float: left">Informe de Items</h1>

<b>Proyecto: </b>{{ fases.0.proyecto.nombre }}

{% for fase in fases.all %}
    <ul>
        <li><b>Fase: </b>{{ fase.numero }}. {{ fase.nombre }}</li>
        {% if fase.tiene_item_para_informe %}
            {% if items.count > 0 %}
                <table style="linea_basewidth:100%">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
                {% for item in items.all %}
                    {% if item.fase.id == fase.id %}
                        <tr>
                            <td>{{ item.codigo }}</td>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.descripcion }}</td>
                            <td>{{ item.get_estado_display }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            {% endif %}
        {% else %}
            <table style="linea_basewidth:100%">
                <tr>
                    <td>Esta fase no tiene items en desarrollo ni pendientes de aprobacion</td>
                </tr>
            </table>
        {% endif %}
    </ul>
    <br/>
{% endfor %}



<hr/>
<p class="fecha-creacion">Fecha de generación: {{ fecha }} {{ hora }}</p>
</body>
</html>