<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informe</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            text-align: center;
            padding-top: 2px;
        }

        .fecha-creacion {
            float: right;
        }
    </style>
</head>
<body>
<h1 style="float: left">Informe de Fase</h1>

<ul>
    <li><b>Proyecto: </b>{{ fase.proyecto.nombre }}</li>
    <li><b>Nombre de Fase: </b>{{ fase.nombre }}</li>
    <li><b>Numero de Fase: </b>{{ fase.numero }}</li>
</ul>
<br/>


{% if items.count > 0 %}
    <p><b>Items: </b></p>
    <table style="linea_basewidth:100%">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
        </tr>
        {% for item in items.all %}
            <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.get_estado_display }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<hr/>
<p class="fecha-creacion">Fecha de generación: {{ fecha }} {{ hora }}</p>
</body>
</html>