<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informe</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            text-align: center;
            padding-top: 2px;
        }

        .fecha-creacion {
            float: right;
        }
    </style>
</head>
<body>
<h1 style="float: left">Informe de solicitudes de cambio en un proyecto</h1>

<ul>
    <li><b>Proyecto: </b>{{ proyecto.nombre }}</li>
    <li><b>Descripción:</b> {{ proyecto.descripcion }}</li>
    <li><b>Fecha de inicio:</b> {{ inicio }}</li>
    <li><b>Fecha de fin:</b> {{ fin }}</li>
</ul>
<br/>

{% if solicitudes.count > 0 %}
    <p><b>Items: </b></p>
    <table style="width:100%">
        <tr>
            <th>Item</th>
            <th>Usuario</th>
            <th>Motivo</th>
            <th>Fecha de Solicitud</th>
        </tr>
        {% for solicitud in solicitudes %}
            <tr>
                <td>{{ solicitud.item_solicitante.codigo }} - {{ solicitud.item_solicitante.nombre }}</td>
                <td>{{ solicitud.usuario_solicitante.first_name }} {{ solicitud.usuario_solicitante.last_name }}
                    ({{ solicitud.usuario_solicitante.email }})</td>
                <td>{{ solicitud.motivo }}</td>
                <td>{{ solicitud.fecha_solicitud }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>No hay ninguna solicitud de cambio en este periodo</h1>
{% endif %}

<hr/>
<p class="fecha-creacion">Fecha de generación: {{ fecha }} {{ hora }}</p>
</body>
</html>