{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- META Requeridos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Proyecto IS2 - React</title>

    <!-- SB ADMIN 2 & Bootstrap CSS -->
    <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Fuentes personalizadas -->
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/nunito.css' %}" rel="stylesheet">

    <!-- Estilos SCSS -->
    <link href="{% static 'frontend/estilos.css' %}" rel="stylesheet">

</head>
<body id="page-top">
<div id="app">
    <!-- React will load here -->
</div>


<!-- Script: React -->
<script src="{% static "frontend/main.js" %}"></script>

<!-- Scripts : jQuery , Popper.js, bootstrap.js, easing y sb-admin-->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>

</body>

</html>