{% load bootstrap4 %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}

</head>
<body>

<div class="m-5 p-5">
    <div class="jumbotron">
        <h1>Autorización pendiente del administrador</h1>
        <p class="lead text-justify">Si ves este aviso, es por que el administrador todavia no autorizó tu acceso al sistema. Para acceder
        consulta con el Administrador.</p>
        <hr class="my-4">
        <div class="row text-justify">
            <div class="col-12 col-lg-6 p-2">
                <p>Si el administrador ya te dió autorización, entonces puede volver a intentar
                acceder al sistema</p>
                <a class="btn btn-primary btn-lg" href="{{ request.GET.next }}" role="button">Reintentar</a>
            </div>
            <div class="col-12 col-lg-6 p-2">
                <p>De otro modo, podrias tratar iniciar sesión más tarde cuando tengas autorización o con otra cuenta.</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <input class="btn btn-secondary btn-lg" type="submit" value="Cerrar Sesión" />
                </form>
            </div>
        </div>

    </div>
</div>

{% bootstrap_javascript jquery='full' %}
</body>