{% load socialaccount %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IS2</title>
    <link crossorigin rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
	<link rel="icon" type="image/png" href="./static/assets/login/images/R3M.jpg"/>
	<link rel="stylesheet" type="text/css" href="./static/assets/login/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/login/css/main.css">

</head>
<body>


	<div class="limiter">
		<div class="container-login100" style="background-image: url('./static/assets/login/images/bg-04.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">

                   <div class="text-center p-t-8 p-b-25">
                       ¡Bienvenido al sistema gestor de ítems de proyecto de IS2!
					</div>
					<span class="login100-form-title p-b-49">
						R3M
					</span>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
                            <button type="button" class="login100-form-btn"
                                    onclick="location.href='{% provider_login_url 'google' %}'" >
                                <div class="login100-social-item bg4">
                                    <i class="fa fa-google"></i>
                                </div> Iniciar Sesión con Google
                            </button>
						</div>
					</div>
					<div class="flex-col-c p-t-75">
						<div class="txt2">
							Autores
						</div>
                        <span class="text-center txt1 p-b-17">
							<div> Mateo Fidabel</div>
                            <div> Rubén Izembrandt</div>
                            <div> Celeste Mallorquín</div>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="./static/assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="./static/assets/login/vendor/animsition/js/animsition.min.js"></script>
	<script src="./static/assets/login/vendor/bootstrap/js/popper.js"></script>
	<script src="./static/assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="./static/assets/login/vendor/select2/select2.min.js"></script>
	<script src="./static/assets/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="./static/assets/login/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="./static/assets/login/vendor/countdowntime/countdowntime.js"></script>
	<script src="./static/assets/login/js/main.js"></script>

</body>

</html>