{% extends "email_templates/base.html" %}

{% block titulo %}
    ¡Se ha creado una solicitud de cambio en el proyecto {{ proyecto.nombre }}!
{% endblock titulo %}

{% block texto %}
    Se ha creado una solicitud de cambio sobre el ítem <b>{{ item.codigo }}. {{ item.nombre }}</b> por el usuario
    {{ usuario.first_name }} {{ usuario.last_name }} ({{ usuario.email }}).
    <br/>
    <b>Motivo:</b> "{{ solicitud.motivo }}"
{% endblock texto %}